$black: #222222;
$blue: #202060;
$blue-dark: #202040;
$blue-shadow: #202040d5;
$black-shadow: #2222224f;
$violet: #602080;
$violet-hover: #4d1a66;
$purple: #B030B0;
$purple-hover: #8d268d;
$red: #fd2e2e;
$red-dark: #ca2525;
$green: #54e346;
$cian: #00FFCC;
$cian-dark: #09a37a;
$cian-hover: #067558;
$white: #F8F9FA;
$white-dark: #DEE2E6;
$white-shadow: #f8f9fa46;
$blue-gradient: linear-gradient($blue-dark, $violet-hover);
$cian-gradient: linear-gradient($cian-dark, $cian);

// $lukway: #37A368;
$lukway: #058C42;
// $lukway-dark: #058C42;
$lukway-dark: #058C42;
$lukway-hover: #047035;
$lukway-gradient: linear-gradient($lukway-dark, $lukway);
$lukway-gradient-hover: linear-gradient(#047035, #2c8253);

$google: #ffffff;
$google-dark: #eeeeee;
$facebook: #1778F2;
$facebook-dark: #1260c2;
$twitter: #00ACEE;
$twitter-dark: #008abe;


$font-monserrat: 'Montserrat Alternates', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-mono: 'Roboto Mono', monospace;
