@media screen and (max-width: 425px){
  .menu, .login{
    width: calc(100% - 30px);
    box-shadow: 0px 0px 30px $white-shadow;
  }
  .menu{
    .title{
      font-size: 1.7rem;
    }
  }
  .login{
    .divisor{
      &_text{
        &::before, &::after{
          width: 35%;
        }
      }
    }
    .login_button_container{
      height: fit-content;
      flex-wrap: wrap;
    }
  }
  .button{
    &-login, &-register{
      width: 100%;
    }
    &-login{
      margin-bottom: 4px;
    }
    &-reset{
      i{
        margin: 0;
      }
    }
  }
  .cards{
    &_container{
      width: 100%;
      padding: 10px 20px;
      &-easy{
        gap: 10px;
      }
      &-normal{
        min-height: 70vh;
      }
    }
    .aside{
      margin: 15px 0;
    }
  }
}
