@media screen and (max-width: 320px){
  .caption{
    font-size: 1.5rem;
  }
  .button{
    &-back-top{
      left: 10px;
    }
    &-signout, &-play-again{
      right: 10px;
    }
  }
  .cards{
    &_container{
      &-easy{
        min-height: 40vh;
      }
      &-normal{
        min-height: 60vh;
      }
    }
  }
}
