.configuration{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  .logo{
    margin-top: 50px;
  }
  .caption{
    margin: 65px 20px 30px;
  }
  .button-back-top{
    opacity: 1;
    animation: unset;
  }
  &_card{
    width: 240px;
    height: 300px;
    border: 2px solid $black;
    border-radius: 20px;
    padding: 25px;
    background-color: $cian-dark;
    background-image: $cian-gradient;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: box-shadow .3s, transform .3s;
    animation: appear-horizontal .3s .4s forwards;
    &:hover{
      img{
        transform: scale(1.05);
      }
      .configuration_img_container{
        background-color: $white-dark;
      }
    }
  }
  &_caption{
    margin: 10px 0 0 0;
    color: $blue-dark;
  }
  &_img_container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 15px;
    background-color: $white;
  }
  &_img{
    width: 100%;
    height: 100%;
    transition: transform .3s;
  }
}
@media screen and (max-width: 768px){
  .configuration{
    &_card{
      width: 200px;
      height: 250px;
      padding: 20px;
    }
    &_img_container{
      padding: 10px;
    }
    .logo{
      margin-top: 25px;
    }
  }
}
@media screen and (max-width: 668px){
  .configuration{
    &_card{
      width: 160px;
      height: 200px;
      padding: 15px;
    }
    &_caption{
      font-size: 1rem;
      font-weight: bold;
    }
    &_img_container{
      border-radius: 10px;
    }
  }
}
@media screen and (max-width: 520px){
  .configuration{
    .main_container{
      flex-wrap: wrap;
    }
    &_card{
      margin: 10px;
    }
  }
}
