.login{
  width: 400px;
  height: 500px;
  border-radius: 30px;
  padding: 30px 30px;
  box-shadow: 0px 0px 50px $white-shadow;
  background-color: $cian;
  background-image: $cian-gradient;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  animation: appear .2s;
  .divisor{
    width: 100%;
    margin: 8px 0;
    text-align: center;
    position: relative;
    opacity: 0;
    &_text{
      margin: 0 20px;
      color: $blue-dark;
      text-align: center;
      font-weight: bold;
      &::before, &::after{
        content: "";
        width: 40%;
        height: 3px;
        border-radius: 2px;
        background-color: $blue-dark;
        position: absolute;
        top: calc(50% - 1px);
      }
      &::before{
        right: 0;
      }
      &::after{
        left: 0;
      }
    }
    &-login{
      @extend .divisor;
      animation: to-bottom .3s .4s forwards;
    }
    &-or{
      @extend .divisor;
      animation: to-bottom .3s .8s forwards;
    }
  }
  &_input{
    &-email, &-password{
      width: 100%;
      height: 50px;
      border: 2px solid $blue-dark;
      border-radius: 25px;
      padding: 5px 15px;
      background-color: $white;
      color: $blue-dark;
      font-family: $font-roboto;
      font-weight: bold;
      position: relative;
      outline: none;
      transition: border .3s, background-color .3s, box-shadow .3s;
      &::placeholder{
        color: $blue-shadow;
        opacity: 0.8;
      }
      &:hover{
        background-color: $white-dark;
        box-shadow: 0 0 20px $black-shadow;
      }
      &:focus{
        border: 3px solid $purple;
        box-shadow: 0 0 20px $black-shadow;
      }
    }
    &-email{
      opacity: 0;
      animation: to-bottom .3s .5s forwards;
    }
    &-password{
      opacity: 0;
      animation: to-bottom .3s .6s forwards;
    }
  }
  &_button_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    :first-child, :last-child{
      opacity: 0;
      animation: to-bottom .3s .7s forwards;
    }
    .button-register{
      background-color: $white;
      border-color: $purple;
      color: $purple;
      &:hover{
        background-color: $white-dark;
        i{
          color: $cian-dark;
        }
      }
    }
  }
  &_external{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: to-bottom .3s .9s forwards;
    &-button{
      width: 30%;
      height: 50px;
      border: 2px solid $blue-dark;
      border-radius: 25px;
      padding: 10px;
      cursor: pointer;
      outline: none;
      transition: background-color .3s, box-shadow .3s;
      img{
        height: 100%;
      }
    }
    .google{
      background-color: $google;
      &:hover{
        background-color: $google-dark;
        box-shadow: 0 0 20px $black-shadow;
      }
    }
    .facebook{
      background-color: $facebook;
      &:hover{
        background-color: $facebook-dark;
        box-shadow: 0 0 20px $black-shadow;
      }
    }
    .twitter{
      background-color: $twitter;
      padding: 12px;
      &:hover{
        background-color: $twitter-dark;
        box-shadow: 0 0 15px $black-shadow;
      }
    }
  }
}
.nickname{
  background-color: $black-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  &_container{
    width: 300px;
    height: fit-content;
    background-color: $blue-dark;
    background-image: linear-gradient($blue-dark, $blue);
    border: 2px solid $white;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &_title{
    margin: 10px 0;
  }
  &_message{
    color: $white-dark;
    font-size: .9em;
  }
  &_input{
    @extend .login_input-email;
    border: 2px solid $cian-dark;
    opacity: 1;
    animation: none;
    &:hover{
      box-shadow: 0 0 20px $white-shadow;
    }
    &:focus{
      border: 3px solid $purple;
      box-shadow: 0 0 20px $white-shadow, 0 0 0 2px black;
    }
  }
  button{
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 425px){
  .login{
    width: calc(100% - 30px);
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 0px 30px $white-shadow;
    .divisor{
      margin: 8px 0 12px;
      &_text{
        &::before, &::after{
          width: 35%;
        }
      }
    }
    &_input{
      &-email, &-password{
        margin-bottom: 8px;
      }
    }
    &_button_container{
      height: fit-content;
      flex-wrap: wrap;
      :first-child{
        margin-bottom: 8px;
        opacity: 0;
        animation: to-bottom .5s 1.5s forwards;
      }
      :last-child{
        opacity: 0;
        animation: to-bottom .5s 1.65s forwards;
      }
    }
  }
}
