.tutorial{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transform: none;
  perspective: none;
  .caption{
    margin: 20px 0;
  }
  &_card{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &_caption{
    margin-bottom: 50px;
    opacity: 0;
    animation: appear-horizontal 1s .5s forwards;
  }
  &_img_container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    animation: to-bottom 1s .5s forwards;
    :nth-child(1){
      bottom: calc(50% - 125px);
      left: calc(50% - 150px);
    }
    :nth-child(2){
      top: calc(50% - 125px);
      left: calc(50% - 80px);
    }
    :nth-child(3){
      right: calc(50% - 150px);
      bottom: calc(50% - 125px);
    }
    &:hover{
      :nth-child(1){
        transform: rotate(-30deg) translate(-50px, -25px);
      }
      :nth-child(2){
        transform: translateY(-15px);
      }
      :nth-child(3){
        transform: rotate(30deg) translate(50px, -25px);
      }
    }
  }
  &_img{
    width: 160px;
    height: 200px;
    position: absolute;
    transition: transform .3s;
    &-cards{
      width: 300px;
      margin-bottom: 40px;
      opacity: 0;
      transition: filter .3s;
      animation: to-bottom 1s .5s forwards;
      &:hover{
        filter: drop-shadow(0 0 5px $white);
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .tutorial{
    &_img_container{
      :nth-child(1){
        bottom: calc(50% - 100px);
        left: calc(50% - 115px);
      }
      :nth-child(2){
        top: calc(50% - 115px);
        left: calc(50% - 60px);
      }
      :nth-child(3){
        right: calc(50% - 115px);
        bottom: calc(50% - 100px);
      }
    }
    &_img{
      width: 120px;
      height: 150px;
      &-cards{
        width: 250px;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .tutorial{
    overflow-y: auto;
    height: fit-content;
    h3{
      font-size: 1.1rem;
    }
    .main_container{
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    &_caption{
      margin: 30px;
    }
    &_card{
      width: 75%;
      height: 300px;
    }
    &_img_container{
      animation: appear 1s .5s forwards;
      :nth-child(1){
        animation: tutorial-card-1 4s 2s infinite;
      }
      :nth-child(2){
        animation: tutorial-card-2 4s 2s infinite;
      }
      :nth-child(3){
        animation: tutorial-card-3 4s 2s infinite;
      }
      &:hover{
        :nth-child(1){
          transform: none;
        }
        :nth-child(2){
          transform: none;
        }
        :nth-child(3){
          transform: none;
        }
      }
    }
    &_img{
      &-cards{
        animation: appear 1s .5s forwards, tutorial-card-4 4s 2s infinite;
        &:hover{
          filter: none;
        }
      }
    }
  }
}
